doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(http-equiv='x-ua-compatible' content='ie=edge')
    title Error - All Blue
    link(href='https://fonts.googleapis.com/css2?family=Arvo&family=Kumbh+Sans&display=swap' rel='stylesheet')
    link(href='/styles/style.css' rel='stylesheet')
  body
    .content
      .top
        img.img-all-blue.error-logo(src='/images/all-blue-fake-logo.png', alt='All Blue Logo')
        h1
          span.party-popper
          br
          | Something went wrong! 🚨
      .error-details
        p
          strong Error Message: 
          | #{message}
        p
          a.btn(href="/")  Go Back
